{% extends 'base.html'%}

{% block content %}

<div class="custom-banner">
  <div class="container py-2 py-md-5">
    <h1 class="text-center text-capitalize">React to {{category.name}} Pitches</h1>
    <p class=" text-center">Give your view about other peoples pitches</p>
  </div>
</div>

<div class="container my-4 py-5">

  <div class="row">

    <div class="col-md-4">
      <div class="h-100">
        <div class="custom-card p-2 position-relative h-100">
          <h4 class="text-center">Categories</h4>
          <hr>
          <ul class="list-group list-group-flush">
            <li class="list-group-item custom-item">
              <a href="{{ url_for('main.index') }}">
                <i class="fas fa-angle-right me-2"></i>
                <span>All</span>
              </a>
            </li>
            {% for category in categories %}
            <li class="list-group-item custom-item">
              <a href="{{ url_for('main.category_view', category_id=category.id) }}">
                <i class="fas fa-angle-right me-2"></i>
                <span>{{category.name}}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-8 mb-3">

      <div class="custom-card p-2 position-relative mb-3">
        <h4 class="text-center p-0 m-0">{{category.name}}</h4>
      </div>
      <div class="">
        {% include './components/pitcheslist.html' %}
      </div>

    </div>

  </div>

</div>

{% endblock %}