{% extends 'base.html'%}

{% block content %}

<div class="custom-banner">
  <div class="container py-2 py-md-5">
    <h1 class="text-center">Add Category</h1>
    <p class="text-center">Add a new category of pitches</p>
  </div>
</div>

<div class="container my-4 py-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card custom-card px-2 px-md-5 position-relative mb-3 py-5">
        <h1 class="text-center p-0 m-0">Add Category</h1>
        <hr>
        <form action="{{ url_for('main.new_category') }}" method="POST">
          <div class="form-group">
            <label for="email">Category nane</label>
            <input type="text" class="form-control input-lg mt-2 bg-none shadow-none custom-input" id="email"
              name="name" placeholder="Category Name">
          </div>
          <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary btn-block  custom-btn w-100">Add</button>
          </div>
        </form>
        {% include './components/messages.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}