{% extends 'base.html'%}

{% block content %}

<div class="custom-banner">
  <div class="container py-2 py-md-5">
    <h1 class="text-center">Add Pitch</h1>
    <p class="text-center">Add a new pitch</p>
  </div>
</div>

<div class="container my-4 py-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card custom-card px-2 px-md-5 position-relative mb-3 py-5">
        <h1 class="text-center p-0 m-0">Add Pitch</h1>
        <hr>
        <form action="{{ url_for('main.new_pitch') }}" method="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control input-lg mt-2 text-white bg-none shadow-none custom-input" id="title"
              name="title" placeholder="Enter Title">
          </div>
          <div class="form-group mt-4">
            <label for="category">Category</label>
            <select required class="form-select input-lg mt-2 text-white bg-none shadow-none custom-input" id="category"
              name="category">
              <option value="">Select Category</option>
              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group mt-4">
            <label for="">Content</label>
            <textarea name="content" id="" rows="5"
              class="form-control input-lg mt-2 text-white bg-none shadow-none custom-input"></textarea>
          </div>
          <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary btn-block  custom-btn w-100">Post Pitch</button>
          </div>
        </form>
        {% include './components/messages.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}